.ResultFooter {
  padding: 1rem;
  font-size: 2rem;
  background: white;
  color: black;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: all .2s ease-in-out;
  min-height: 100px;
  transform: translateY(-300px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.ResultFooter--success, .ResultFooter--failure {
  transform: translateY(0px)
}