.InfoView {
    position: absolute;
    z-index: 3;
    background: #282c34;
    top: 0px;
    bottom: 0px;
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}

.InfoView--hidden {
    transform: translateX(100%);
}

.InfoView-content {
    padding: 20px;
}

.InfoView-cover {
    background-size: cover;
    height: 40vh;
}

.InfoView-title {
    background-size: cover;
    margin-top: 0;
    margin-bottom: 13px;
}

.InfoView-description {
    margin-bottom: 13px;
}

.InfoView-close {
    width: 48px;
    height: 48px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: whitesmoke;
    background: #fd79a8;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
  }
