.InfoView {
    position: absolute;
    z-index: 3;
    background: #282c34;
    top: 0px;
    bottom: 0px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .5s ease-in-out;
}

.InfoView--visible {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.InfoView-content {
    padding: 20px;
}

.InfoView-cover {
    background-size: cover;
    height: 40vh;
}

.InfoView-title {
    background-size: cover;
    margin-top: 0;
    margin-bottom: 13px;
}

.InfoView-description {
    margin-bottom: 13px;
}

.InfoView-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

