.CameraView {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.CameraView-video {
  height: 100%;
  width: 100%;
}

.CameraView-snapButton {
  z-index: 2;
  position: absolute;
  bottom: 100px;
  right: 20px;
}

.CameraView-clearButton {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
}