.App {
  min-height: 100vh;
  background: #282c34;
  display: flex;
  flex-direction: column;
}

.App-logo {
  
}

.App-header {
  padding: .5rem;
  font-size: 2rem;
  color: whitesmoke;
  font-weight: 600;
}

.App-footer {
  padding: 1rem;
  font-size: 2rem;
  background: white;
  color: black;
  font-weight: 600;
}

.App-footer--success {
  /*background: #1ec26b;*/
}

.App-footer--failure {
  /*background: #e33a3a;*/
}

.App-content {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
}

.App-link {
  color: #61dafb;
}
