.ShutterButton {
    width: 64px;
    height: 64px;
    text-align: center;
    cursor: pointer;
    color: #586173;
    background: lightgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
